<li>
    {{name}}

    <button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
        {{#if eaten}}Eat!{{else}}Try!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>